# Client
node_modules/
dist/
build/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.*.local

# Server
.env
node_modules/
npm-debug.log
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
